<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="pl">
<head>
    <title>Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/my.css}" rel="stylesheet"/>
</head>
<body class="logged">
<br/><br/>
<div class="container">

    <table class="usermenutable">
        <tr>
            <td style="width: 80%">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/'}">
                               MOJA STRONA GŁÓWNA
                            </a>
                        </span>
            </td>
            <td style="width: 20%">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-danger usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>

    <table class="usermenutable">
        <tr>
            <td class="usermenutd3">
                    <span>
                        <a class="btn btn-secondary usermenu"  th:href="@{'user/email'}">
                            EMAIL (PROFIL)
                        </a>
                    </span>
            </td>
            <td class="usermenutd3">
                    <span>
                        <a class="btn btn-secondary usermenu" th:href="@{|/user/edit/${currentUser.id}|} ">
                            USTAWIENIA
                        </a>
                    </span>
            </td>
            <td class="usermenutd3">
                    <span>
                        <a class="btn btn-secondary usermenu" th:href="@{'/user/gifts'} ">
                            MOJE ZBIÓRKI
                        </a>
                    </span>
            </td>
        </tr>
    </table>
    <br/>
        <span>
            <a class="btn btn-success usermenu" th:href="@{'/user/addGift'} ">
                ODDAJ RZECZY
            </a>
        </span>
    <br/>
    <br/>
        <span>
            <a class="btn btn-warning usermenu" th:href="@{'/'} ">
                ZORGANIZUJ ZBIÓRKĘ
            </a>
        </span>
    <br/>
    <br/>
    <table class="usermenutable">
        <tr>
            <td style="width: 80%">
                        <span>
                            <a class="btn btn-info usermenu"  th:href="@{'/'}">
                                MOJA STRONA GŁÓWNA
                            </a>
                        </span>
            </td>
            <td style="width: 20%">
                <span>
                    <form th:action="@{/logout}" method="post" >
                        <input class="btn btn-danger usermenu" type="submit" value="WYLOGUJ"/>
                    </form>
                </span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>